<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.base.mapper.user.BaseEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ResultVOResultMap" type="top.tangyh.lamp.base.vo.result.user.BaseEmployeeResultVO"
               extends="top.tangyh.lamp.base.mapper.user.BaseEmployeeMapper.BaseResultMap">


        <collection property="orgIdList"
                    select="top.tangyh.lamp.base.mapper.user.BaseEmployeeOrgRelMapper.selectOrgByEmployeeId"
                    ofType="long"
                    column="{employeeId=id}"/>
    </resultMap>


    <select id="selectPageResultVO" resultMap="ResultVOResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_employee e
        <where>
            ${ew.sqlSegment}
            <if test="model.orgIdList != null and model.orgIdList.size() > 0">
                and e.id in (
                select eor.employee_id from base_employee_org_rel eor where eor.employee_id = e.id and eor.org_id in
                <foreach close=")" collection="model.orgIdList" item="id" open="(" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <if test='model.roleId != null and model.scope != null and model.scope != "-1"'>
                and
                <choose>
                    <when test='"1" == model.scope'>
                        EXISTS
                    </when>
                    <otherwise>
                        NOT EXISTS
                    </otherwise>
                </choose>
                (
                select 1 from base_employee_role_rel err where err.employee_id = e.id and err.role_id =
                #{model.roleId}
                )
            </if>
        </where>

    </select>

    <select id="getEmployeeIdByRoleCodeAndOrgId" resultType="top.tangyh.lamp.base.vo.result.user.BaseEmployeeResultVO">
        SELECT
        distinct t4.id,
        t4.real_name
        ,t3.org_id as directorUnitId
        FROM
        base_role t1,
        base_employee_role_rel t2,
        base_employee_org_rel t3,
        base_employee t4
        <where>
            <if test="roleCodeList != null and roleCodeList.size() > 0">
                t1.code in
                <foreach close=")" collection="roleCodeList" item="roleCode" open="(" separator=",">
                    #{roleCode}
                </foreach>
            </if>
            AND t1.id = t2.role_id
            <if test="orgIdList != null and orgIdList.size() > 0">
                AND t3.org_id in
                <foreach close=")" collection="orgIdList" item="orgId" open="(" separator=",">
                    #{orgId}
                </foreach>
            </if>
            AND t3.employee_id = t2.employee_id
            AND t3.employee_id = t4.id
        </where>
    </select>
</mapper>
