<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- 文件长度不超过1500行 -->
<!--    <module name="FileLength">-->
<!--        <property name="max" value="2500"/>-->
<!--    </module>-->

<!--    &lt;!&ndash; 长度检查 &ndash;&gt;-->
<!--    &lt;!&ndash; 每行不超过200个字符 &ndash;&gt;-->
<!--    <module name="LineLength">-->
<!--        <property name="max" value="10000"/>-->
<!--    </module>-->
<!--    <module name="SuppressWarningsFilter"/>-->
<!--    &lt;!&ndash; 每个java文件一个语法树 &ndash;&gt;-->
<!--    <module name="TreeWalker">-->
<!--        <module name="SuppressWarningsHolder"/>-->
<!--        &lt;!&ndash; import检查&ndash;&gt;-->
<!--        &lt;!&ndash; 检查是否从非法的包中导入了类 &ndash;&gt;-->
<!--        <module name="IllegalImport"/>-->
<!--        &lt;!&ndash; 检查是否导入了多余的包 &ndash;&gt;-->
<!--        <module name="RedundantImport"/>-->
<!--        &lt;!&ndash; 没用的import检查，比如：1.没有被用到2.重复的3.import java.lang的4.import 与该类在同一个package的 &ndash;&gt;-->
<!--        <module name="UnusedImports"/>-->

<!--        &lt;!&ndash; 注释检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查构造函数的javadoc &ndash;&gt;-->
<!--        <module name="JavadocType">-->
<!--            <property name="allowUnknownTags" value="true"/>-->
<!--            <message key="javadoc.missing" value="类注释：缺少Javadoc注释。"/>-->
<!--        </module>-->

<!--        &lt;!&ndash; 命名检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 局部的final变量，包括catch中的参数的检查 &ndash;&gt;-->
<!--        <module name="LocalFinalVariableName"/>-->
<!--        &lt;!&ndash; 局部的非final型的变量，包括catch中的参数的检查 &ndash;&gt;-->
<!--        <module name="LocalVariableName"/>-->
<!--        &lt;!&ndash; 包名的检查（只允许小写字母），默认^[a-z]+(\.[a-zA-Z_][a-zA-Z_0-9_]*)*$ &ndash;&gt;-->
<!--        <module name="PackageName">-->
<!--            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>-->
<!--            <message key="name.invalidPattern" value="包名 ''{0}'' 要符合 ''{1}''格式."/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 仅仅是static型的变量（不包括static final型）的检查 &ndash;&gt;-->
<!--        <module name="StaticVariableName"/>-->
<!--        &lt;!&ndash; Class或Interface名检查，默认^[A-Z][a-zA-Z0-9]*$&ndash;&gt;-->
<!--        <module name="TypeName">-->
<!--            <property name="severity" value="warning"/>-->
<!--            <message key="name.invalidPattern" value="名称 ''{0}'' 要符合 ''{1}''格式."/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 非static型变量的检查-->
<!--        <module name="MemberName"/>-->
<!--        &ndash;&gt;-->
<!--        &lt;!&ndash; 方法名的检查 &ndash;&gt;-->
<!--        <module name="MethodName"/>-->
<!--        &lt;!&ndash; 方法的参数名-->
<!--        <module name="ParameterName "/>-->
<!--        &ndash;&gt;-->
<!--        &lt;!&ndash; 常量名的检查（只允许大写），默认^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$ &ndash;&gt;-->
<!--        <module name="ConstantName">-->
<!--            <property name="format" value="^log(ger)?$|^[A-Z][A-Z0-9]*([_]+[A-Z0-9]+)*$"/>-->
<!--        </module>-->

<!--        &lt;!&ndash; 定义检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查数组类型定义的样式 &ndash;&gt;-->
<!--        <module name="ArrayTypeStyle"/>-->
<!--        &lt;!&ndash; 检查long型定义是否有大写的“L” &ndash;&gt;-->
<!--        <module name="UpperEll"/>-->
<!--        &lt;!&ndash; 方法不超过100行 &ndash;&gt;-->
<!--        <module name="MethodLength">-->
<!--            <property name="tokens" value="METHOD_DEF"/>-->
<!--            <property name="max" value="300"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 方法的参数个数不超过8个。 并且不对构造方法进行检查&ndash;&gt;-->
<!--        <module name="ParameterNumber">-->
<!--            <property name="max" value="8"/>-->
<!--            <property name="ignoreOverriddenMethods" value="true"/>-->
<!--            <property name="tokens" value="METHOD_DEF"/>-->
<!--        </module>-->

<!--        &lt;!&ndash; 空格检查&ndash;&gt;-->
<!--        &lt;!&ndash; 方法名后跟左圆括号"(" &ndash;&gt;-->
<!--        <module name="MethodParamPad"/>-->
<!--        &lt;!&ndash; 在类型转换时，不允许左圆括号右边有空格，也不允许与右圆括号左边有空格 &ndash;&gt;-->
<!--        <module name="TypecastParenPad"/>-->
<!--        &lt;!&ndash; 检查在某个特定关键字之后应保留空格 &ndash;&gt;-->
<!--        <module name="NoWhitespaceAfter"/>-->
<!--        &lt;!&ndash; 检查在某个特定关键字之前应保留空格 &ndash;&gt;-->
<!--        <module name="NoWhitespaceBefore"/>-->
<!--        &lt;!&ndash; 圆括号空白 &ndash;&gt;-->
<!--        <module name="ParenPad"/>-->
<!--        &lt;!&ndash; 检查分隔符是否在空白之后 &ndash;&gt;-->
<!--        <module name="WhitespaceAfter"/>-->
<!--        &lt;!&ndash; 检查分隔符周围是否有空白 &ndash;&gt;-->
<!--        <module name="WhitespaceAround"/>-->

<!--        &lt;!&ndash; 修饰符检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查修饰符的顺序是否遵照java语言规范，默认public、protected、private、abstract、static、final、transient、volatile、synchronized、native、strictfp &ndash;&gt;-->
<!--        <module name="ModifierOrder"/>-->
<!--        &lt;!&ndash; 检查接口和annotation中是否有多余修饰符，如接口方法不必使用public &ndash;&gt;-->
<!--        <module name="RedundantModifier"/>-->

<!--        &lt;!&ndash; 代码块检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查是否有嵌套代码块 &ndash;&gt;-->
<!--        <module name="AvoidNestedBlocks"/>-->
<!--        &lt;!&ndash; 检查是否有空代码块 &ndash;&gt;-->
<!--        <module name="EmptyBlock"/>-->
<!--        &lt;!&ndash; 检查左大括号位置 &ndash;&gt;-->
<!--        <module name="LeftCurly"/>-->
<!--        &lt;!&ndash; 检查代码块是否缺失{} &ndash;&gt;-->
<!--        <module name="NeedBraces"/>-->
<!--        &lt;!&ndash; 检查右大括号位置 &ndash;&gt;-->
<!--        <module name="RightCurly"/>-->

<!--        &lt;!&ndash; 代码检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查空的代码段 &ndash;&gt;-->
<!--        <module name="EmptyStatement"/>-->
<!--        &lt;!&ndash; 检查在重写了equals方法后是否重写了hashCode方法 &ndash;&gt;-->
<!--        <module name="EqualsHashCode"/>-->
<!--        &lt;!&ndash; 检查局部变量或参数是否隐藏了类中的变量 &ndash;&gt;-->
<!--        <module name="HiddenField">-->
<!--            <property name="tokens" value="VARIABLE_DEF"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 检查子表达式中是否有赋值操作 &ndash;&gt;-->
<!--        <module name="InnerAssignment"/>-->
<!--        &lt;!&ndash; 检查switch语句是否有default &ndash;&gt;-->
<!--        <module name="MissingSwitchDefault"/>-->
<!--        &lt;!&ndash; 检查是否有过度复杂的布尔表达式 &ndash;&gt;-->
<!--        <module name="SimplifyBooleanExpression"/>-->
<!--        &lt;!&ndash; 检查是否有过于复杂的布尔返回代码段 &ndash;&gt;-->
<!--        <module name="SimplifyBooleanReturn"/>-->

<!--        &lt;!&ndash; 类设计检查 &ndash;&gt;-->
<!--        &lt;!&ndash; 检查类是否为扩展设计l &ndash;&gt;-->
<!--        &lt;!&ndash; 检查只有private构造函数的类是否声明为final-->
<!--        <module name="FinalClass"/>-->
<!--        &ndash;&gt;-->
<!--        &lt;!&ndash; 检查接口是否仅定义类型 &ndash;&gt;-->
<!--        &lt;!&ndash;        <module name="InterfaceIsType"/>&ndash;&gt;-->
<!--        &lt;!&ndash; 检查类成员的可见度 检查类成员的可见性。只有static final 成员是public的-->
<!--        除非在本检查的protectedAllowed和packagedAllowed属性中进行了设置&ndash;&gt;-->
<!--        <module name="VisibilityModifier">-->
<!--            <property name="packageAllowed" value="true"/>-->
<!--            <property name="protectedAllowed" value="true"/>-->
<!--        </module>-->

<!--        &lt;!&ndash; 语法 &ndash;&gt;-->
<!--        &lt;!&ndash; String的比较不能用!= 和 == &ndash;&gt;-->
<!--        <module name="StringLiteralEquality"/>-->
<!--        &lt;!&ndash; 限制for循环最多嵌套2层 &ndash;&gt;-->
<!--        <module name="NestedForDepth">-->
<!--            <property name="max" value="2"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; if最多嵌套3层 &ndash;&gt;-->
<!--        <module name="NestedIfDepth">-->
<!--            <property name="max" value="10"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 检查未被注释的main方法,排除以Appllication结尾命名的类 &ndash;&gt;-->
<!--        <module name="UncommentedMain">-->
<!--            <property name="excludedClasses" value=".*[Application,Test]$"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; 禁止使用System.out.println &ndash;&gt;-->
<!--        <module name="Regexp">-->
<!--            <property name="format" value="System\.out\.println"/>-->
<!--            <property name="illegalPattern" value="true"/>-->
<!--        </module>-->
<!--        &lt;!&ndash;try catch 异常处理数量 3&ndash;&gt;-->
<!--        <module name="NestedTryDepth ">-->
<!--            <property name="max" value="3"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; clone方法必须调用了super.clone() &ndash;&gt;-->
<!--        <module name="SuperClone"/>-->
<!--        &lt;!&ndash; finalize 必须调用了super.finalize() &ndash;&gt;-->
<!--        <module name="SuperFinalize"/>-->
<!--    </module>-->
</module>
