<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.base.mapper.NormalWorkOrderMapper">
<!--
    代码生成器 by 2026-03-03 11:47:40
    自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.tangyh.lamp.base.entity.NormalWorkOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="order_title" property="orderTitle" />
        <result column="order_content" property="orderContent" />
        <result column="appeal_type" property="appealType" />
        <result column="order_category_id" property="orderCategoryId" />
        <result column="order_category_name" property="orderCategoryName" />
        <result column="region_assign_time" property="regionAssignTime" />
        <result column="region_deadline" property="regionDeadline" />
        <result column="urgency" property="urgency" />
        <result column="source_dept_name" property="sourceDeptName" />
        <result column="channel" property="channel" />
        <result column="helper_name" property="helperName" />
        <result column="contact_phone" property="contactPhone" />
        <result column="gender" property="gender" />
        <result column="incident_location" property="incidentLocation" />
        <result column="address" property="address" />
        <result column="is_difficult" property="isDifficult" />
        <result column="difficult_content" property="difficultContent" />
        <result column="host_dept_name" property="hostDeptName" />
        <result column="assist_dept_name" property="assistDeptName" />
        <result column="cc_dept_name" property="ccDeptName" />
        <result column="settle_condition" property="settleCondition" />
        <result column="last_operate_time" property="lastOperateTime" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_org_id" property="createdOrgId" />
        <result column="allow_back" property="allowBack" />
        <result column="allow_back_time" property="allowBackTime" />
        <result column="allow_comment" property="allowComment" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, order_title, order_content, appeal_type, order_category_id, 
        order_category_name, region_assign_time, region_deadline, urgency, source_dept_name, channel, 
        helper_name, contact_phone, gender, incident_location, address, is_difficult, 
        difficult_content, host_dept_name, assist_dept_name, cc_dept_name, settle_condition, last_operate_time, 
        created_by, created_time, updated_by, updated_time, created_org_id, allow_back, allow_back_time, allow_comment
    </sql>
    <sql id="Base_Column_List2">
        t3.id, t3.order_no, t3.order_title, t3.order_content, t3.appeal_type, t3.order_category_id, t3.
        order_category_name, t3.region_assign_time, t3.region_deadline, t3.urgency, t3.source_dept_name, t3.channel, t3.
        helper_name, t3.contact_phone, t3.gender, t3.incident_location, t3.address, t3.is_difficult, t3.
        difficult_content, t3.host_dept_name, t3.assist_dept_name, t3.cc_dept_name, t3.settle_condition, t3.last_operate_time, t3.
        created_by, t3.created_time, t3.updated_by, t3.updated_time, t3.created_org_id, t3.allow_back, t3.allow_back_time, t3.allow_comment,
        t3.assist_status, t3.municipal_host_dept_name, t3.municipal_assist_dept_name, t3.municipal_assign_time, t3.municipal_deadline
    </sql>
    <resultMap id="ResultVOResultMap" type="top.tangyh.lamp.base.vo.result.NormalWorkOrderResultVO"
               extends="top.tangyh.lamp.base.mapper.NormalWorkOrderMapper.BaseResultMap">
    </resultMap>

    <select id="selectPageResultVO" resultMap="ResultVOResultMap">
        select
        <include refid="Base_Column_List2"/>
        FROM
            normal_work_order t3
        INNER JOIN (
            SELECT
                DISTINCT t2.order_no as task_order_no
            FROM
                normal_work_order_task t2
            WHERE
                <choose>
                    <when test='model.coOrccType != null and model.coOrccType!= ""'>
                        t2.current_node_code IN ( SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = #{model.displayStatus} AND t1.role_code = '1' )
                        and t2.valid = '1' and t2.level = '0'
                        <if test="model.coOrccId != null and model.coOrccType eq '1'.toString()">
                            AND FIND_IN_SET(#{model.coOrccId}, t2.co_unit_ids)
                        </if>
                        <if test="model.coOrccId != null and model.coOrccType eq '2'.toString()">
                            AND FIND_IN_SET(#{model.coOrccId}, t2.cc_unit_ids)
                        </if>
                    </when>
                    <otherwise>
                        t2.current_node_code IN ( SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = #{model.displayStatus} AND t1.role_code = #{model.roleCode} )
                        <if test='model.roleCode != null and (model.roleCode != "1" and model.roleCode != "0")'>AND t2.lead_unit_id = #{model.leadUnitId} </if>
                        and t2.valid = '1' <if test="model.roleCode != null and (model.roleCode eq '1'.toString() or model.roleCode eq '0'.toString())"> and t2.level = '0'</if>
                    </otherwise>
                </choose>
            ) t4 ON t3.order_no = t4.task_order_no
        <where>
            ${ew.sqlSegment}
            <if test='model.expireHour != null'>
            AND TIMESTAMPDIFF(HOUR, NOW(), t3.region_deadline) &lt;= #{model.expireHour}
            </if>
        </where>
    </select>

    <select id="getWorkOrderCount" resultType="java.lang.Long">
        SELECT
        COUNT(*) AS total
        FROM
        normal_work_order t3
        INNER JOIN (
        SELECT
        DISTINCT t2.order_no as task_order_no
        FROM
        normal_work_order_task t2
        WHERE
        t2.current_node_code IN ( SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = #{displayStatus} AND t1.role_code = #{roleCode} )
        <if test='roleCode != null and (roleCode != "1" and roleCode != "0")'>AND t2.lead_unit_id = #{leadUnitId} </if>
        and t2.valid = '1' <if test="roleCode != null and (roleCode eq '1'.toString() or roleCode eq '0'.toString())"> and t2.level = '0'</if>
        ) t4 ON t3.order_no = t4.task_order_no
    </select>

    <select id="groupByCategoryWorkOrderCount" resultType="top.tangyh.lamp.base.vo.result.SignCategoryIsNullNormalWorkOrderResultVO">
        SELECT
        subString_index(t3.order_category_name, '-', 1 ) AS categoryName,
        COUNT(1) AS total
        FROM
        normal_work_order t3
        INNER JOIN (
        SELECT
        DISTINCT t2.order_no as task_order_no
        FROM
        normal_work_order_task t2
        WHERE 1 = 1
        <if test='roleCode != null and (roleCode != "1" and roleCode != "0")'>AND t2.lead_unit_id = #{leadUnitId} </if>
        and t2.valid = '1' <if test="roleCode != null and (roleCode eq '1'.toString() or roleCode eq '0'.toString())"> and t2.level = '0'</if>
        ) t4 ON t3.order_no = t4.task_order_no
        where t3.order_category_name is not null
        GROUP BY
        subString_index(t3.order_category_name, '-', 1)
    </select>

    <select id="signCategoryIsNull" resultType="java.lang.Long">
        SELECT
        COUNT(*) AS total
        FROM
        normal_work_order t3
        INNER JOIN (
        SELECT
        DISTINCT t2.order_no as task_order_no
        FROM
        normal_work_order_task t2
        WHERE
        t2.current_node_code IN ( SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '处办中' AND t1.role_code = '1' )
        and t2.valid = '1' and t2.level = '0'
        ) t4 ON t3.order_no = t4.task_order_no
        where t3.order_category_name is null
    </select>

    
    <select id="getRanking" resultType="top.tangyh.lamp.base.vo.result.NormalWorkOrderRankingResultVO">
        SELECT
        t1.`name`,
        IFNULL(sign_stat.signCount, 0) AS signCount,
        IFNULL(finish_stat.finishCount, 0) AS finishCount,
        -- 重新计算签收排名 (基于合并后的完整数据)
        DENSE_RANK() OVER (ORDER BY IFNULL(sign_stat.signCount, 0) DESC) AS signRanking,
        -- 重新计算办结排名 (基于合并后的完整数据)
        DENSE_RANK() OVER (ORDER BY IFNULL(finish_stat.finishCount, 0) DESC) AS finishRanking
        FROM
        `base_org` t1
        -- 1. 关联签收统计子查询
        LEFT JOIN (
        SELECT
        t1.id,
        t1.name,
        COUNT(t2.id) AS signCount
        FROM
        `base_org` t1
        LEFT JOIN work_order_dynamic t2 ON t1.id = t2.dept_id
        AND t2.process_type = '签收'
        -- 筛选条件放在 ON 中以保证 count 为 0
        AND DATE_FORMAT(t2.created_time, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')
        WHERE
        t1.parent_id &lt;> 0
        GROUP BY
        t1.id, t1.name
        ) sign_stat ON t1.id = sign_stat.id

        -- 2. 关联办结统计子查询
        LEFT JOIN (
        SELECT
        t1.id,
        t1.name,
        COUNT(t2.id) AS finishCount
        FROM
        `base_org` t1
        LEFT JOIN normal_work_order_task t2 ON t1.id = t2.lead_unit_id
        AND t2.current_node_code = '13.1'
        AND t2.valid = '1'
        -- 筛选条件放在 ON 中
        AND DATE_FORMAT(t2.created_time, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')
        WHERE
        t1.parent_id &lt;> 0
        GROUP BY
        t1.id, t1.name
        ) finish_stat ON t1.id = finish_stat.id

        WHERE
        t1.parent_id &lt;> 0
        ORDER BY
        finishRanking;
    </select>

    <select id="selectListResultVO" resultMap="ResultVOResultMap">
        select
        <include refid="Base_Column_List2"/>
        FROM
        normal_work_order t3
        INNER JOIN (
        SELECT
        DISTINCT t2.order_no as task_order_no
        FROM
        normal_work_order_task t2
        WHERE
            t2.current_node_code IN ( SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = #{model.displayStatus} AND t1.role_code = '1' )
            and t2.valid = '1'  and t2.level = '0'
        ) t4 ON t3.order_no = t4.task_order_no
        <where>
            <if test="model.orderNoList != null and model.orderNoList.size() > 0">
                t3.order_no in
                <foreach close=")" collection="model.orderNoList" item="orderNo" open="(" separator=",">
                    #{orderNo}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectNotCommentResultVO" resultMap="ResultVOResultMap">
    select
    <include refid="Base_Column_List2"/>
    FROM
        normal_work_order t3
    WHERE
        t3.allow_comment = '1'
        AND NOT EXISTS ( SELECT 1 FROM `work_order_dynamic` t2 WHERE t2.order_no = t3.order_no AND t2.operator_id = #{model.operatorId}  AND t2.process_type = '批示' )
    </select>

    <select id="selectCommentedPageResultVO" resultMap="ResultVOResultMap">
        select
        <include refid="Base_Column_List2"/>
        FROM
        normal_work_order t3
        WHERE
        t3.allow_comment = '1'
        AND EXISTS ( SELECT 1 FROM `work_order_dynamic` t2 WHERE t2.order_no = t3.order_no AND t2.operator_id = #{model.operatorId}  AND t2.process_type = '批示' )
    </select>

    <select id="selectOrderAllConditions" resultMap="ResultVOResultMap">
        SELECT t5.* from
            (SELECT
            t3.*,
            "已退回" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '已退回' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "办结" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '办结' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "结案待审" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '结案待审' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "下派跟踪" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '下派跟踪' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "下级已退回" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '下级已退回' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "处办中" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '处办中' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no

            union all
            SELECT
            t3.*,
            "待签收" as status
            FROM
            normal_work_order t3
            INNER JOIN (
            SELECT
            DISTINCT t2.order_no AS task_order_no
            FROM
            normal_work_order_task t2
            WHERE
            t2.valid = '1'
            <if test="model.leadUnitIdList != null and model.leadUnitIdList.size() > 0">
                AND t2.lead_unit_id IN
                <foreach collection="model.leadUnitIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND EXISTS (
            SELECT 1
            FROM normal_work_order_task sub_t2
            WHERE sub_t2.order_no = t2.order_no
            AND sub_t2.valid = '1'
            AND sub_t2.LEVEL = '0'
            AND sub_t2.current_node_code IN (SELECT t1.node_code FROM role_status_mapping t1 WHERE t1.display_status = '待签收' AND t1.role_code = '1')
            )
            ) t4 ON t3.order_no = t4.task_order_no) t5
        <where>
            ${ew.sqlSegment}
            <if test="model.prefixList != null and model.prefixList.size() > 0">
                AND (
                <foreach collection="model.prefixList" item="prefix" separator=" OR ">
                    t5.order_no LIKE CONCAT(#{prefix}, '%')
                </foreach>
                )
            </if>
            <if test="model.orderCategoryId != null">
                AND t5.order_category_id = #{model.orderCategoryId}
            </if>
            <if test="model.regionDeadlineStart != null">
                AND DATE_FORMAT(t5.region_deadline, '%Y-%m-%d') >= DATE_FORMAT(#{model.regionDeadlineStart}, '%Y-%m-%d')
            </if>
            <if test="model.regionDeadlineEnd != null">
                AND DATE_FORMAT(t5.region_deadline, '%Y-%m-%d') &lt;= DATE_FORMAT(#{model.regionDeadlineEnd}, '%Y-%m-%d')
            </if>
        </where>
    </select>
</mapper>
