<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.base.mapper.WorkOrderDynamicMapper">
<!--
    代码生成器 by 2026-03-03 11:48:11
    自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.tangyh.lamp.base.entity.WorkOrderDynamic">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="task_id" property="taskId" />
        <result column="node_code" property="nodeCode" />
        <result column="node_name" property="nodeName" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="operator_phone" property="operatorPhone" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="process_type" property="processType" />
        <result column="content_json" property="contentJson" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_org_id" property="createdOrgId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, task_id, node_code, node_name, operator_id, 
        operator_name, operator_phone, dept_id, dept_name, process_type, content_json, 
        created_by, created_time, updated_by, updated_time, created_org_id
    </sql>

    <select id="getLastOperateTimeByOrderNo" resultMap="BaseResultMap">
        SELECT t.order_no, t.created_time
        FROM (
                 SELECT
                     t1.order_no,
                     t1.created_time,
                     ROW_NUMBER() OVER (PARTITION BY t1.order_no ORDER BY t1.created_time DESC) as rn
                 FROM
                     work_order_dynamic t1
                 <where>
                     <if test="orderNoList != null and orderNoList.size() > 0">
                         t1.order_no in
                         <foreach close=")" collection="orderNoList" item="orderNo" open="(" separator=",">
                             #{orderNo}
                         </foreach>
                     </if>
                </where>
             ) t
        WHERE t.rn = 1;
    </select>

</mapper>
